/* Category.css */
.category-card {
    width: 200px;
    height: 200px;
    background-size: cover;
    background-position: center;
    position: relative;
    margin: 10px;
}

.category-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.category-text {
    color: white;
    position: absolute;
    bottom: 10px;
    left: 10px;
}
